.main {
  display: flex;
  height: 100vh;
  position: relative;
}

.secondContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: black;
}
.lifelinesContainer {
  width: 100%;
  background-color: black;

  height: 15%;
  justify-content: center;
  align-items: flex-start;
  direction: row;
  display: flex;

  padding-top: 35px;
}
.firstlifeline {
  background-image: url("./images/50-50_2018.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;

  border-radius: 50px / 25px;
}
.firstlifelineIncorect {
  background-image: url("./images/Classic5050used.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;

  border-radius: 50px / 25px;
}
.secondlifeline {
  background-image: url("./images/ATA_2018.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px / 25px;
}
.secondlifelineIncorrect {
  background-image: url("./images/30oDXwd.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px / 25px;
}

.thirdlifeline {
  background-image: url("./images/PAF_2018.webp");

  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px / 25px;
}
.moneyQuestionsNumberAndPrizeContainer {
  height: 80%;
  background-color: black;
  display: flex;
  width: 100%;

  justify-content: center;
  padding-top: 50px;
}
.questionsContainer {
  width: 100%;
}
.questionsContainerSelected {
  background-color: teal;
  border-radius: 25px;
  width: 100%;
}
.questionItemNumber {
  list-style: none;
  padding-left: 110px;
  padding-right: 20px;
  font-size: 21px;
  font-weight: 250;
  color: #e7863a;
}
.questionItemNumberWhite {
  list-style: none;
  padding-left: 110px;
  padding-right: 20px;
  font-size: 21px;
  font-weight: 250;
  color: white;
}
.questionItemAmount {
  list-style: none;
  padding-left: 20px;
  font-size: 21px;
  font-weight: 250;
  color: #e7863a;
}
.questionItemAmountWhite {
  list-style: none;
  padding-left: 20px;
  font-size: 21px;
  font-weight: 250;
  color: white;
}

.diamond {
  background: white;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
  width: 20px;
  display: inline-block;
  margin: 5px;
}
.diamondIdent {
  background: white;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
  width: 20px;
  display: inline-block;
  margin: 5px;
  margin-left: 15px;
}
.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.lostGame {
  z-index: 2223;
  position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  width: 100vw;
  padding-bottom: 46.1vh;
  padding-top: 46.1vh;
}
