@media only screen and (max-width: 4160px) {
  .lifelinesContainer {
    align-items: flex-start;
    justify-content: center;
  }
}
@media only screen and (max-width: 900px) {
  .lifelinesContainer {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 800px) {
  * {
    font-size: 12px;
  }
}
@media only screen and (max-width: 720px) {
  * {
    font-size: 11px;
  }
}
@media only screen and (max-width: 600px) {
  * {
    font-size: 9px;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 7px;
  }
}
@media only screen and (max-width: 400px) {
  * {
    font-size: 6px;
  }

  @media only screen and (max-width: 300px) {
    * {
      font-size: 4px;
    }
  }
  @media only screen and (max-width: 220px) {
    * {
      font-size: 2px;
    }
  }
}
@media only screen and (max-width: 120px) {
  * {
    font-size: 2px;
  }
}
@media only screen and (max-width: 100px) {
  * {
    font-size: 1px;
  }
}

.main {
  display: flex;
  height: 100vh;
  position: relative;
}

.secondContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: black;
}
.lifelinesContainer {
  width: 100%;
  background-color: #030f38;

  height: 35%;

  direction: row;
  display: flex;

  padding-top: 10%;
}
.firstlifeline {
  order: 1;
  background-image: url("./images/50-50_2018.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 6em;
  height: 3em;

  border-radius: 50px / 25px;
}
.firstlifelineIncorect {
  order: 1;
  background-image: url("./images/Classic5050used.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 6em;
  height: 3em;

  border-radius: 50px / 25px;
}
.secondlifeline {
  order: 3;
  background-image: url("./images/ATA_2018.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 6em;
  height: 3em;

  border-radius: 50px / 25px;
}
.secondlifelineIncorrect {
  order: 3;
  pointer-events: "none";
  background-image: url("./images/30oDXwd.png");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;

  pointer-events: none;
  width: 6em;
  height: 3em;
  border-radius: 50px / 25px;
}

.thirdlifeline {
  order: 2;
  background-image: url("./images/PAF_2018.webp");

  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 6em;
  height: 3em;

  border-radius: 50px / 25px;
}
.thirdlifelineIncorrect {
  order: 2;
  background-image: url("./images/dRckC37.png");
  pointer-events: "none";
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 6em;
  height: 3em;
  border-radius: 50px / 25px;
}
.moneyQuestionsNumberAndPrizeContainer {
  /* background: linear-gradient(#150234, #250755); */
  height: 55%;
  background-color: #030f38;
  display: flex;

  width: 100%;

  justify-content: center;
  padding-top: 0px;
}
.questionsContainer {
  width: 95%;
}
.questionsContainerSelected {
  background-color: #fa9b1b;
  border-radius: 25px;
  color: white;

  width: 95%;
}
.questionItemNumber {
  list-style: none;
  padding-left: 30%;

  padding-right: 5%;
  font-size: 1.2em;
  font-weight: 250;
  color: #e7863a;
}
.questionItemNumberWhite {
  list-style: none;
  padding-left: 30%;
  padding-right: 5%;
  font-size: 1.2em;
  font-weight: 250;
  color: white;
}
.questionItemAmount {
  list-style: none;
  padding-left: 6%;
  font-size: 1.2em;
  font-weight: 250;
  color: #e7863a;
}
.questionItemAmountWhite {
  list-style: none;
  padding-left: 6%;
  font-size: 1.2em;
  font-weight: 250;
  color: white;
}

.diamond {
  background: white;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
  width: 5%;
  display: inline-block;
  margin: 1%;
}
.diamondIdent {
  background: white;
  clip-path: polygon(0 50%, 50% 100%, 100% 50%, 50% 0);
  width: 5%;
  display: inline-block;
  margin: 1%;
  margin-left: 3.7%;
}
.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 13%;
}
