@keyframes myAnim {
  0% {
    transform: scaleY(0.1);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
.askTheAudienceContainer {
  background-color: blue;
  display: flex;
  height: 500;
  width: 500;
  flex-direction: column;
  z-index: 23;
}
.askTheAudience {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: black;

  width: 250px;

  height: 150px;
  position: absolute;

  z-index: 3;
}
.askTheAudienceHidden {
  display: none;
  background-color: yellow;
}
.itemContainer {
  display: flex;
  align-items: end;
  flex-direction: column;
  width: 200px;
  justify-content: space-around;
}
.itemOne {
  animation: myAnim 1s ease 200ms 7 alternate forwards;
  height: 140px;
  width: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: orange;
}

.itemTwo {
  animation: myAnim 1s ease 400ms 7 alternate forwards;
  height: 140px;
  width: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: orange;
}

.itemThree {
  animation: myAnim 1s ease 800ms 7 alternate forwards;

  height: 140px;
  width: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: orange;
}

.itemFour {
  animation: myAnim 1s ease 1000ms 7 alternate forwards;
  height: 140px;
  width: 30px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: orange;
}
.firstContainerRow {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: yellow;
}
/* 
if (copiedObject.answers[i].body === rightAnswerMap[0].body) {
  console.log("right");
  console.log(copiedObject.answers[i].body);
  newArray.push({
    body: copiedObject.answers[i].body,
    correct: true,
  });
} else if (copiedObject.answers[i].body === wrongAnswerMap[0].body) {
  console.log("wrong");
  console.log(copiedObject.answers[i].bod);
  newArray.push({
    body: copiedObject.answers[i].body,
    correct: false,
  });
} else {
  newArray.push({
    body: "",
    correct: false,
  });
  console.log(copiedObject.answers[i].body);
} */
