@keyframes myAnim {
  0% {
    transform: scaleY(0.1);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
.askTheFriendContainer {
  display: flex;
  height: 50%;
  width: 117%;

  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: blue;
  z-index: 23;
}
.askTheFriend {
  display: flex;
  color: white;
  flex-direction: column;
  margin-top: 4%;
  height: 100%;
  width: 40%;
  position: absolute;

  z-index: 3;
}
.askTheFriendHidden {
  display: none;
  background-color: yellow;
}

.itemContainerForFriend {
  position: relative;
  display: flex;
  background-color: #030f38;
  align-items: center;
  flex-direction: column;
  width: 250px;
  color: white;
  height: 100%;
  justify-content: space-evenly;
}
.friendImage {
  background-image: url("./images/PAF_2018.webp");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 100px;
  height: 50px;
  border-radius: 50px / 25px;
}
