@keyframes myAnim {
  0% {
    transform: scaleY(0.1);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
.askTheFriendContainer {
  display: flex;
  height: 500;
  width: 500;
  flex-direction: column;

  z-index: 23;
}
.askTheFriend {
  display: flex;
  color: white;
  flex-direction: column;
  background-color: black;

  width: 250px;

  height: 170px;
  position: absolute;

  z-index: 3;
}
.askTheFriendHidden {
  display: none;
  background-color: yellow;
}

.itemContainerForFriend {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 250px;
  color: #e7863a;
  height: 100%;
  justify-content: center;
}
