.lostGame {
  z-index: 2223;
  position: absolute;
  background-color: black;
  text-align: center;
  color: white;
  width: 99.8vw;
  padding-bottom: 40.3vh;
  font-size: 25px;
  padding-top: 40.3vh;
}
.lostGameItem {
  margin: 13px 0;
  color: orange;
}
