.mainContainer {
  height: 100%;
  background-color: teal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.firstSection {
  flex: 1;
}
.secondSection {
  padding: 80px;
  flex: 2;
  flex-direction: column;
  display: flex;
}
.thirdSection {
  flex: 1;
}
.timer {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.singleQuestionContainer {
  padding-top: 50px;
  width: 990px;
  margin: auto;
  display: block;
  background-color: red;
}
