.mainContainer {
  height: 100%;
  background-color: teal;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
.firstSection {
  flex: 1;
}
.secondSection {
  padding: 80px;
  flex: 2;
  flex-direction: column;
  display: flex;
}
.thirdSection {
  flex: 1;
}
.timer {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.singleQuestionContainer {
  padding-top: 30px;
  width: 990px;
  margin: auto;
  background: linear-gradient(#150234, #250755);
  padding-bottom: 30px;
  color: white;
  text-align: center;
  display: block;
  background-color: red;
}
.answerContainer {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.firstQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.secondQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.thirdQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.fourthQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
