@keyframes rightAnswer {
  0%,
  22%,
  42%,
  70%,
  100% {
    background: teal;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#150234, #250755);
  }
}
@keyframes wrongAnswer {
  0%,
  22%,
  42%,
  70%,
  100% {
    background: red;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#150234, #250755);
  }
}

.mainContainer {
  height: 100%;
  background-image: url("./images/2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: start;
}
.firstSection {
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin: auto;
  height: 100%;
  width: 50%;
  color: white;
  display: flex;
}
.secondSection {
  padding: 80px;
  flex: 1;
  flex-direction: column;
  display: flex;
}
.thirdSection {
  flex: 1;
}
.timer {
  width: 90px;
  height: 90px;
  line-height: 90px;
  border-radius: 50%;
  border: 5px solid white;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
.singleQuestionContainer {
  padding-top: 30px;
  width: 990px;
  font-size: 25px;
  margin: auto;
  background: linear-gradient(#150234, #250755);
  padding-bottom: 30px;
  color: white;
  text-align: center;
  display: block;
  background-color: red;
}
.answerContainer {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.firstQuestion {
  width: 40%;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  padding-left: 12px;
  font-size: 20px;
  text-align: start;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.firstQuestionRightAnswer {
  width: 40%;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  background: linear-gradient(#150234, #250755);
  color: white;
  animation: rightAnswer 3s forwards 1;
  animation-delay: 1s;
}
.firstQuestionWrongAnswer {
  width: 40%;
  height: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  background: linear-gradient(#150234, #250755);
  color: white;
  animation: wrongAnswer 3s forwards 1;
  animation-delay: 1s;
}
.firstQuestionOrange {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background-color: orange;
}
.secondQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.thirdQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
.fourthQuestion {
  width: 40%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-right: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 20px;
  color: white;
  background: linear-gradient(#150234, #250755);
}
